<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Investigadores TOP10</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" th:href="@{/authors}">Digital NAO Reto 2</a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/authors}" class="nav-link">Detalle de Investigadores</a></li>
            </ul>
        </div>
    </nav>

</div>

<div class="container">
    <div class="row">
        <h1>Lista de Investigadores TOP10</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{authors/search}" class="btn btn-primary btn-sm mb3">Search Investigador</a>
            <br>
        </div>

    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Author ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Author URL</th>
            <th>Affiliations</th>
            <th>Acciones</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">#</td>
            <td th:text="${author.author_ID}">Author ID</td>
            <td th:text="${author.name}">Name</td>
            <td th:text="${author.email}">Email</td>
            <td th:text="${author.author_url}">Author URL</td>
            <td th:text="${author.affiliations}">Affiliations</td>
            <td >
                <a th:href="@{/authors/edit/{id}(id=${author.id})}" class="btn btn-light">Edit</a></td>
                <td><a th:href="@{/authors/{id}(id=${author.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>